In [124]:
import pandas as pd
import numpy as np

In [125]:
bzs = pd.read_csv("BAIRROS_ZONA_SECAO2.csv", sep=";", encoding="utf-8")

In [126]:
votos = pd.read_csv("urnas_votos_psol_2018.csv", sep=";", usecols=['NR_ZONA','NR_SECAO','NM_VOTAVEL','QT_VOTOS','QT_APTOS', 'QT_COMPARECIMENTO','QT_ABSTENCOES','SG_PARTIDO'], encoding="ISO-8859-1")

In [127]:
bzs

           BAIRRO  NR_ZONA  NR_SECAO
0          CENTRO        1        10
1          CENTRO        1        24
2          CENTRO        1        44
3          CENTRO        1        64
4          CENTRO        1        94
...           ...      ...       ...
2998  BELÉM VELHO      161       122
2999  BELÉM VELHO      161       166
3000      LAGEADO      161        74
3001      LAGEADO      161        95
3002      LAGEADO      161       425

[3003 rows x 3 columns]

In [128]:
votos

,NR_ZONA,NR_SECAO,SG_PARTIDO,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCOES,NM_VOTAVEL,QT_VOTOS
0,1,1,PSOL,375,284,91,GUILHERME BOULOS,5
1,1,10,PSOL,387,311,76,GUILHERME BOULOS,4
2,1,100,PSOL,272,196,76,GUILHERME BOULOS,2
3,1,101,PSOL,287,212,75,GUILHERME BOULOS,2
4,1,102,PSOL,392,312,80,GUILHERME BOULOS,5
...,...,...,...,...,...,...,...,...
38575,2,99,PSOL,337,267,70,PSOL,1
38576,2,99,PSOL,337,267,70,PEDRO RUAS,8
38577,2,99,PSOL,337,267,70,LUCIANA GENRO,14
38578,2,99,PSOL,337,267,70,ALICE CARVALHO,1
38579,2,99,PSOL,337,267,70,CACIQUE SACI,1

In [129]:
votos_geral = pd.merge(votos, bzs,
                  how='inner',
                 on=['NR_ZONA', 'NR_SECAO'])
# result.to_csv('testecruza.csv' , sep=';', encoding ="ISO-8859-1")

In [136]:
votos_alex = (votos_geral['NM_VOTAVEL'] == 'PROF ALEX FRAGA')
alex = votos_geral[votos_alex]

In [137]:
alex

,NR_ZONA,NR_SECAO,SG_PARTIDO,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCOES,NM_VOTAVEL,QT_VOTOS,BAIRRO
4,1,1,PSOL,375,284,91,PROF ALEX FRAGA,1,CIDADE BAIXA
18,1,10,PSOL,324,250,74,PROF ALEX FRAGA,4,CENTRO
34,1,100,PSOL,272,196,76,PROF ALEX FRAGA,1,MENINO DEUS
52,1,101,PSOL,287,212,75,PROF ALEX FRAGA,1,MENINO DEUS
94,1,104,PSOL,233,176,57,PROF ALEX FRAGA,1,CENTRO
...,...,...,...,...,...,...,...,...,...
37872,2,33,PSOL,209,146,63,PROF ALEX FRAGA,4,FLORESTA
37882,2,355,PSOL,324,239,85,PROF ALEX FRAGA,1,HIGIENÓPOLIS
37890,2,356,PSOL,327,248,79,PROF ALEX FRAGA,1,HIGIENÓPOLIS
37898,2,44,PSOL,323,222,101,PROF ALEX FRAGA,1,FLORESTA
37906,2,75,PSOL,398,324,74,PROF ALEX FRAGA,2,MOINHOS DE VENTO

In [156]:
votos_robaina= (votos_geral['NM_VOTAVEL'] == 'ROBERTO ROBAINA')
robaina = votos_geral[votos_robaina]

In [157]:
x = robaina[['QT_VOTOS']].groupby(robaina['BAIRRO'])

In [158]:
y = x.sum()

In [159]:
y.to_csv('votos_robaina_2018.csv', sep = ';', encoding = 'ISO-8859-1')

In [160]:
k = alex[['QT_VOTOS']].groupby(alex['BAIRRO'])

In [161]:
z = k.sum()

In [163]:
z.to_csv('votos_alex_2018.csv', sep = ';', encoding = 'ISO-8859-1')

In [164]:
votos_karen = (votos_geral['NM_VOTAVEL'] == 'KAREN SANTOS')
karen = votos_geral[votos_karen]

In [166]:
u = karen[['QT_VOTOS']].groupby(karen['BAIRRO'])

In [167]:
v = u.sum()

In [168]:
v.to_csv('votos_karen_2018.csv', sep = ';', encoding = 'ISO-8859-1')

In [173]:
votos_fernanda= (votos_geral['NM_VOTAVEL'] == 'FERNANDA MELCHIONNA')
fernanda = votos_geral[votos_fernanda]

In [174]:
f =  fernanda[['QT_VOTOS']].groupby(fernanda['BAIRRO'])

In [175]:
m = f.sum()

In [176]:
m.to_csv('votos_fernanda_2018.csv', sep = ';', encoding = 'ISO-8859-1')