In [23]:
import pandas as pd

In [61]:
bzs = pd.read_csv('eleitorado/base_pesquisa/BAIRROS_ZONA_SECAO.csv', sep=';', encoding='utf-8')

In [62]:
elei = pd.read_csv('eleitorado/base_pesquisa/perfil_eleitor_secao_2020_RS.csv', sep = ';',encoding="ISO-8859-1", usecols =['NM_MUNICIPIO' , 'NR_ZONA', 'NR_SECAO','DS_GENERO', 'DS_ESTADO_CIVIL', 'DS_FAIXA_ETARIA', 'DS_GRAU_ESCOLARIDADE', 'QT_ELEITORES_PERFIL' , 'QT_ELEITORES_INC_NM_SOCIAL', 'QT_ELEITORES_DEFICIENCIA'])

## Seleção de Eleitores de Porto Alegre

In [74]:
selecao_poa = (elei['NM_MUNICIPIO'] == 'PORTO ALEGRE') & (elei['QT_ELEITORES_INC_NM_SOCIAL'] == 1) & (elei['DS_GENERO'] == 'MASCULINO')

In [75]:
elei_poa = elei[selecao_poa]

In [76]:
elei_bairro = pd.merge(elei_poa, bzs,
                  how='inner',
                 on=['NR_ZONA', 'NR_SECAO'])

In [77]:
faixa_etaria = ['BAIRRO', 'QT_ELEITORES_INC_NM_SOCIAL'] 
ele = elei_bairro.filter(items=faixa_etaria)

In [78]:
ele['QT_ELEITORES_INC_NM_SOCIAL'].value_counts()
ele.groupby('BAIRRO').count().to_csv('trans_masc.csv', sep = ';', encoding="ISO-8859-1")

## Seleção de Eleitores Deficientes

In [12]:
selecao_deficientes =  (elei_bairro['QT_ELEITORES_DEFICIENCIA'] > 0)

In [25]:
elei_deficientes = elei_bairro[selecao_deficientes]
elei_deficientes['DS_GENERO'].value_counts().to_csv('deficiente_genero.csv', sep= ';', encoding="ISO-8859-1")

In [7]:
faixa_etaria = ['BAIRRO', 'QT_ELEITORES_DEFICIENCIA'] 
ele = elei_bairro.filter(items=faixa_etaria)

In [8]:
ele.groupby('BAIRRO').count().to_csv('deficiente_feminino.csv', sep = ';', encoding="ISO-8859-1")

In [73]:
grau_escolaridade = ['DS_GRAU_ESCOLARIDADE', 'QT_ELEITORES_DEFICIENCIA'] 
ele = elei_bairro.filter(items=grau_escolaridade)

In [75]:
ele.groupby('DS_GRAU_ESCOLARIDADE').count().to_csv('deficiente_escolaridade.csv', sep = ';', encoding="ISO-8859-1")

                               QT_ELEITORES_DEFICIENCIA
DS_GRAU_ESCOLARIDADE
ANALFABETO                                          251
ENSINO FUNDAMENTAL COMPLETO                         474
ENSINO FUNDAMENTAL INCOMPLETO                      1133
ENSINO MÉDIO COMPLETO                               912
ENSINO MÉDIO INCOMPLETO                             446
LÊ E ESCREVE                                        226
SUPERIOR COMPLETO                                   743
SUPERIOR INCOMPLETO                                 253

## Seleção de Eleitores com Nome Social

In [92]:
selecao_nome_social =  (elei_bairro['QT_ELEITORES_INC_NM_SOCIAL'] == 1)

In [93]:
elei_nome_social = elei_bairro[selecao_nome_social]

In [94]:
elei_nome_social

,NM_MUNICIPIO,NR_ZONA,NR_SECAO,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL,BAIRRO
249,PORTO ALEGRE,2,100,FEMININO,SOLTEIRO,21 a 24 anos,ENSINO MÉDIO INCOMPLETO,2,0,1,FLORESTA
377,PORTO ALEGRE,2,200,MASCULINO,SOLTEIRO,40 a 44 anos,ENSINO MÉDIO INCOMPLETO,9,0,1,SÃO GERALDO
5126,PORTO ALEGRE,2,201,MASCULINO,SOLTEIRO,25 a 29 anos,SUPERIOR INCOMPLETO,2,0,1,SANTA CECÍLIA
9572,PORTO ALEGRE,2,257,FEMININO,SOLTEIRO,30 a 34 anos,ENSINO MÉDIO COMPLETO,15,0,1,SANTANA
18588,PORTO ALEGRE,113,117,MASCULINO,SOLTEIRO,30 a 34 anos,ENSINO FUNDAMENTAL INCOMPLETO,1,0,1,PARTENON
...,...,...,...,...,...,...,...,...,...,...,...
473855,PORTO ALEGRE,161,144,FEMININO,SOLTEIRO,21 a 24 anos,ENSINO FUNDAMENTAL COMPLETO,2,0,1,RESTINGA
475051,PORTO ALEGRE,161,407,MASCULINO,SOLTEIRO,18 anos,ENSINO MÉDIO INCOMPLETO,1,0,1,RESTINGA
475599,PORTO ALEGRE,161,21,MASCULINO,SOLTEIRO,35 a 39 anos,ENSINO MÉDIO INCOMPLETO,8,0,1,RESTINGA
489951,PORTO ALEGRE,2,168,FEMININO,SOLTEIRO,30 a 34 anos,SUPERIOR COMPLETO,3,0,1,SÃO GERALDO
498283,PORTO ALEGRE,160,318,MASCULINO,SOLTEIRO,21 a 24 anos,SUPERIOR INCOMPLETO,6,0,1,VILA ASSUNÇÃO

In [95]:
faixa_etaria = ['DS_FAIXA_ETARIA', 'QT_ELEITORES_INC_NM_SOCIAL'] 
ele = elei_nome_social.filter(items=faixa_etaria)

In [96]:
ele.groupby('DS_FAIXA_ETARIA').count() ##.to_csv('deficiente_idade.csv', sep = ';', encoding="ISO-8859-1")

                                QT_ELEITORES_INC_NM_SOCIAL
DS_FAIXA_ETARIA
18 anos                                                  5
19 anos                                                  4
20 anos                                                  7
21 a 24 anos                                            22
25 a 29 anos                                            23
30 a 34 anos                                            18
35 a 39 anos                                            10
40 a 44 anos                                             8
45 a 49 anos                                             8
50 a 54 anos                                             3
55 a 59 anos                                             2
70 a 74 anos                                             1